:root {
  --bgblue: rgb(0, 69, 117);
  --bgyellow: rgb(247, 247, 7);
  --bglightblue: rgb(31, 169, 233);
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bglightblue);
  margin: 0;
  position:relative;
}
.heading {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}
.heading h1 {
  margin: 0;
  font-size: 5em;
  color: white;
}
.choosing_box {
  margin-top: 2vh;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.text_box {
  margin-top: 6vh;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
}
.warning{
  display:none;
  text-align: center;
  color: red;
  width:40%;
}
.chooser {
  width: 30%;
  background-color: var(--bgyellow);
  font-size: 2em;
  height: 100%;
  overflow: scroll;
  padding: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  box-sizing: border-box;
  border: 1vw rgb(209, 12, 12) solid;
  border-radius: 2vw;
}
.chooser::-webkit-scrollbar {
  display: none;
}

.choosed {
  width: 25%;
  font-size: 3em;
  height: 100%;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow: scroll;
  border-radius: 2vw;
  padding: 0.5vw;
}

.pokerow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1em;
}

.start_holder {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
}

.start {
  width: 10%;
  height: 100%;
  font-size: 2em;
}
.portrait{
  width:100vw;
  height:110%;
  background-color: rgb(0, 162, 255);
  position:absolute;
  top:0;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  text-align: center;
  display: none;
}

@media screen and (orientation:portrait) {
  .portrait{
    display:flex;
  }
}