:root {
  --bgblue: rgb(0, 69, 117);
  --bgyellow: rgb(247, 247, 7);
  --bglightblue: rgb(31, 169, 233);
}
.moves2{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.moves2::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.moves1{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.moves1::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--bglightblue);
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.leftstat,.rightstat {
  width: 50%;
  box-sizing: border-box;
  padding-top: 3.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
}

@media (max-width: 1100px) {
  .leftstat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightstat{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.rightstat {
  background-color: red;
}
.framer,.framel {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.img1,.img2 {
  display: flex;
  height: 40vh;
  width: 23vw;
  background-color: aliceblue;
  border: 0.4em black solid;
  justify-content: center;
  align-items: center;
}
.framer {
  text-align: end;
  align-items: flex-end;
  justify-content: space-between;
}
.image1,.image2 {
  width: 12vw;
}

.name1,.name2 {
  font-size: 4em;
  font-family: "Micro 5";
  font-weight: 600;
}

.moves1,.moves2 {
  width: 50%;
  height: 100%;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  overflow: scroll;
}
.moves1::-webkit-scrollbar {
  display: none;
}
.moves2::-webkit-scrollbar {
  display: none;
}

.battle {
  position: fixed;
  color: red;
  font-size: 2em;
  display: block;
  margin: 1em;
  right: 1vw;
  top: 80vh;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #d8db34; 
    border-radius: 60%;
    position:absolute;
    left:46%;
    top:45%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }